{% extends 'base.html' %}
{% block content %}
<h5>Добавить друга</h5>
<form method="GET" action="/send_request">
<p><input type = "text" name = "username" /></p>
<p><input type="submit" value="Отправить запрос"></p>
</form>

<h5>Друзья:</h5>
{% for u in usernames%}
    <p>
	<form method="GET" action="/submit_action">
	<a href="http://127.0.0.1:5000/{{u}}">{{u}}</a>
	<input type="hidden" name="friendname" value="{{u}}">
	<input type="hidden" name="action" value="delete_friend">
	<input type="submit" value="Удалить">
	</form>
	</p>
{% endfor %}

<h5>Заявки в друзья:</h5>
{% for r in requests%}
    <p>{{r}}</p>
    <form method = "GET" action = "/reply_to_request">
        <input type="hidden" name="nickname" value="{{r}}">
        <input type="radio" name="friend_req" value="Принять">Принять
        <input type="radio" name="friend_req" value="Отклонить">Отклонить<br>
        <input type="submit" value="Отправить">
	</form>
{% endfor %}
{% endblock %}