{% extends 'base.html' %}
{% block content %}
<br>
<h4>{{username}}</h4>
<form method="POST" action="">
	<table width = "50%">
		<tr>
			<th> Важность </th>
			<th> Статус </th>
			<th><input type="checkbox" name="deadline" value="sort"> Отсортировать по дедлайну </th>
		</tr>
		<tr>
			<td><input type="checkbox" name="importance1" value="не очень важно"> Не очень важно</td>
			<td><input type="checkbox" name="status1" value="не начато">Не начато</td>
		</tr>

		<tr>
			<td><input type="checkbox" name="importance2" value="важно"> Важно</td>
			<td><input type="checkbox" name="status2" value="в процессе"> В процессе</td>
		</tr>

		<tr>
			<td><input type="checkbox" name="importance3" value="очень важно"> Очень важно</td>
			<td><input type="checkbox" name="status3" value="закончено">Закончено</td>
		</tr>	
	</table>
	<br>
	<p><input type="submit" value="Показать"></p>
<br>
</form>
<table class = "table1" width="70%" cellpadding="5">
   <tr>
    <th>Мои задачи</th>
    <th>Важность</th>
	<th>Статус выполнения</th>
	<th>Дедлайн</th>
	<th>Группа</th>
	<th> </th>
   </tr>
{%for t in data%}
   <tr>
<td>{{t[0]}}</td> 
<td>{{t[1]}}</td> 
<td>{{t[2]}}</td> 
<td>{{t[3]}}</td> 
<td>{{t[4]}}</td> 
<td>
	<form method = "GET" action = "/submit_action">
		<input type="hidden" name="data" value="{{t}}">
		<input type="hidden" name="action" value="delete_task">
	<input type="image" src="https://sun9-48.userapi.com/c858128/v858128607/13200b/Qxn6eTMbd3w.jpg" alt="Delete" width="20" height="20">
	</form>
	
	<form method = "GET" action = "/update">
		<input type="hidden" name="data" value="{{t}}">
		<input type="image" src="https://sun9-66.userapi.com/c858128/v858128607/13201c/rOjVAc7KHG8.jpg" alt="Update" width="20" height="20">
	</form>
</td> 
	</tr>
{% endfor %}
 </table>
{% endblock %}