{% extends 'base.html' %}
{% block content %}
<h5>Задачи от друзей:</h5>
{% for t in t_requests%}
    <p>Пользователь {{t[4]}} предложил(а) вам задачу {{t[0]}}</p>
    <form method = "GET" action = "/reply_to_friends_tasks">
        <input type="hidden" name="nickname" value="{{t[4]}}">
		<input type="hidden" name="task_name" value="{{t[0]}}">
		<input type="hidden" name="importance" value="{{t[1]}}">
		<input type="hidden" name="status" value="{{t[2]}}">
        <input type="hidden" name="deadline" value="{{t[3]}}">
        <input type="hidden" name="group" value="{{t[5]}}">
        <input type="radio" name="task_req" value="Принять">Принять
        <input type="radio" name="task_req" value="Отклонить">Отклонить<br>
        <input type="submit" value="Отправить">
	</form>
{% endfor %}
{% endblock %}