{% extends 'base.html' %}
{% block content %}
<h5>{{username}}</h5>
{% if friend_str != 'empty'%}
<h6>{{friend_str}}</h6>
{%endif%}
{%if friend_str != 'Вы дружите с этим пользователем.' %}
<h6>{{handshakes_str}}</h6>
<form method="GET" action="/send_request">
    <p><input type = "hidden" value = {{username}} name = "username"/></p>
    <p><input type="submit" value="Добавить в друзья"></p>
</form>
{% endif %}

<table class = "table1" width="70%" cellpadding="5">
    <tr>
     <th>Задачи</th>
     <th>Важность</th>
     <th>Статус выполнения</th>
     <th>Дедлайн</th>
     <th>Группа</th>
    </tr>
 {%for t in data%}
    <tr>
 <td>{{t[0]}}</td> 
 <td>{{t[1]}}</td> 
 <td>{{t[2]}}</td> 
 <td>{{t[3]}}</td> 
 <td>{{t[4]}}</td> 
     </tr>
 {% endfor %}
  </table>
{% endblock %}